
.dropdown-toggle {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 120%;
  right: 0;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.caret {
  /* @todo me like one of your french girls */
}
.dropdown-menu {
  background: white;
  list-style: none;
  margin: 0;
  padding: 7px 15px;
  border: 1px solid #bebfb9;
}
.dropdown-menu > li > a {
  line-height: 2em;
}
