{% spaceless %}
  <div class="calista-actions">
    <a href="{{ path(action.route, action.routeParameters)|raw }}" class="btn btn-default">
      {% if action.icon %}
        <span class="glyphicon glyphicon-{{ action.icon }}" aria-hidden="true"></span>
      {% endif %}
      {% if action.icon and not show_title %}
        <span class="sr-only">{{ link.title }}</span>
      {% else %}
        {{ action.title }}
      {% endif %}
    </a>
  </div>
{% endspaceless %}
